@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald-Light.ttf");
  src: local("Oswald ExtraLight"), local("Oswald-ExtraLight"),
    url("/fonts/Oswald-ExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}

.menu {
  position: absolute;
  top: 0;
  left: 0px;
  width: 320px;
  height: 100vh;

  background: #ffffff;
  box-shadow: 16px 0px 52px rgba(149, 65, 186, 0.2);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  font-family: "TT Lakes";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /*identicaltoboxheight,or150%*/
  letter-spacing: -0.2px;
  color: #1b1c21;
}

.menu__header-list {
  padding: 23px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 16.73px;
}

.menu__header-item:nth-child(1) {
  flex-grow: 0.4;
}

.logo {
  display: flex;
}

.btn {
  display: flex;
}

.btn:hover {
  opacity: 0.7;
  transform: rotate(20deg);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
}

.btn-img {
  display: flex;
  width: 20px;
  height: 20px;
}

/* MAIN */
.menu__nav {
  padding: 32px 24px;
  flex-grow: 0.8;
}

.menu__nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.menu__nav-item {
  display: flex;
}

.menu__nav-link {
  color: #9541ba;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 15px;
}

.menu__nav-link:hover {
  color: #c197d3;
}

.menu__nav-link--active {
  color: #c197d3;
  flex-direction: row;
}

.menu__nav-link:hover::before {
  color: #c197d3;
  position: absolute;
  content: "";
  left: 0px;
  width: 4px;
  height: 40px;
  background-color: #41f6d7;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.link__icon {
  display: flex;
  height: 20px;
  width: auto;
}

.link__icon:first-child {
  display: flex;
  height: 40px;
  width: auto;
}

.link__text {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #9541ba;
}

.link__text:first-child {
  display: flex;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #9541ba;
}

/* FOOTER */
.menu__footer {
  padding-left: 24px;
}

.menu__footer-list {
  display: flex;
}

.menu__footer-item {
  display: flex;
}

.menu__footer-phone {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height */

  color: #8243b4;
}

.menu__footer-phone:active {
  color: #c197d3;
}

.menu__footer-phone:hover {
  color: #c197d3;
}
