@media (min-width: 1120px) {
  /* HEADER */
  .header__list {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .left {
    flex-grow: 1;
  }

  .right {
    flex-grow: 0.1;
  }

  .item__social {
    display: flex;
    width: auto;
    height: 24px;
  }

  .header__item:not(:first-child):not(:nth-child(2)) {
    display: flex;
  }

  .header__item:first-child {
    display: none;
  }

  .item__text {
    display: flex;

    font-family: "Oswald";
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 22px;

    color: #9541ba;
  }

  .icon {
    width: auto;
    height: 30px;
  }

  .contacts {
    left: 600px;
    top: -40px;
  }

  .main {
    display: flex;
    width: 1120px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }

  /* SWIPER*/
  .swiper__img {
    min-width: 550px;
  }

  .services__slide {
    display: flex;
    width: 700px;
    height: auto;
  }

  /*DESCRIPTION*/

  .description {
    position: relative;
    display: flex;
    width: 100%;
    height: 650px;
    row-gap: 15px;

    padding: 50px 0;
  }

  .description__title {
    display: flex;
    align-items: center;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    color: #9541ba;
  }

  .description__list {
    position: relative;
    display: flex;
    row-gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .description__item {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
  }

  .description__name {
    display: flex;

    font-family: "Oswald";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    color: #8243b4;
  }

  .description__img {
    display: flex;
    width: 250px;
    height: auto;
  }

  .link__inst {
    display: flex;
    width: 250px;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    color: #8243b4;
  }

  .description__item.vela {
    position: absolute;
    left: -250px;
  }

  .description__item.brows {
    position: absolute;

    left: 50px;
  }

  .description__item.shugaring {
    position: absolute;
    top: 430px;
    left: 50px;
  }
  .description__item.makeup {
    position: absolute;

    left: -250px;
    top: 200px;
  }

  .description__item.inst {
    position: absolute;
    width: 100px;
    display: flex;
    top: 600px;
    left: -250px;
  }

  /* CONTACTS */
  .map {
    margin-top: 90px;
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
  }

  .contacts {
    width: 200px;
    height: 470px;

    left: 70%;
    top: -120px;

    background: #9541ba;
    padding: 26px 50px;
  }

  .contacts__title {
    font-size: 34px;
    line-height: 50px;
  }

  .contact__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .contact__name {
    font-size: 24px;
    line-height: 44px;
  }

  .contact {
    display: flex;
    width: 150px;
    font-size: 16px;
    line-height: 24px;
  }

  .regime__title {
    font-size: 24px;
    line-height: 44px;
  }

  .regime__name {
    font-size: 20px;
    line-height: 44px;
  }

  .regime__time {
    font-size: 20px;
    line-height: 44px;
  }
}
