@media (min-width: 768px) and (max-width: 1119px) {
  /* HEADER */
  .header {
    width: 100%;
  }
  .header__list {
    padding: 15px 25px;
  }
  .item__social {
    display: flex;
    width: auto;
    height: 24px;
  }

  .left {
    flex-grow: 0.5;
  }

  .right {
    flex-grow: 0.1;
  }

  .header__item:not(:first-child):not(:nth-child(2)) {
    display: flex;
  }

  .header__item:first-child {
    display: none;
  }

  .item__text {
    display: flex;

    font-family: "Oswald";
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 22px;

    color: #9541ba;
  }

  .icon {
    width: auto;
    height: 24px;
  }

  /* SWIPER SERVICES*/
  .swiper__img {
    min-width: 700px;
  }

  .services__slide {
    display: flex;
    width: 550px;
    height: auto;
  }

  /*DESCRIPTION*/

  .description {
    position: relative;
    display: flex;
    width: 100%;
    height: 650px;
    row-gap: 15px;

    padding: 50px 0;
  }

  .description__title {
    display: flex;
    align-items: center;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    color: #9541ba;
  }

  .description__list {
    position: relative;
    display: flex;
    row-gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .description__item {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
  }

  .description__name {
    display: flex;

    font-family: "Oswald";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    color: #8243b4;
  }

  .description__img {
    display: flex;
    width: 250px;
    height: auto;
  }

  .link__inst {
    display: flex;
    width: 250px;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    color: #8243b4;
  }

  .description__item.vela {
    position: absolute;
    left: 15%;
    top: 0px;
  }

  .description__item.brows {
    position: absolute;

    left: 55%;
    top: -5px;
  }

  .description__item.shugaring {
    position: absolute;
    top: 430px;
    left: 55%;
  }
  .description__item.makeup {
    position: absolute;

    left: 15%;
    top: 200px;
  }

  .description__item.inst {
    position: absolute;
    width: 100px;
    display: flex;
    top: 600px;
    left: -250px;
  }

  /*MAP*/
  .contacts {
    width: 170px;
    height: 280px;

    left: 70%;
    top: -40px;

    background: #9541ba;
    padding: 8px 10px;
  }

  .contacts__title {
    font-size: 18px;
    line-height: 22px;
  }

  .contact__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .contact__name {
    font-size: 16px;
    line-height: 24px;
  }

  .contact {
    display: flex;
    width: 150px;
    font-size: 14px;
    line-height: 20px;
  }

  .regime__title {
    font-size: 16px;
    line-height: 24px;
  }

  .regime__name {
    font-size: 16px;
    line-height: 24px;
  }

  .regime__time {
    font-size: 14px;
    line-height: 20px;
  }

  /* SHUGARING */
  .advantage__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .advantage__item {
    display: flex;
    width: 30%;
  }

  /* GALLERY */
  .shugaring__item:nth-last-child(2) {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .gallery__img {
    width: 50%;
  }

  /* BROWS */
  .brow__item:nth-last-child(2) {
    display: flex;
    flex-direction: row;
  }

  .gallery__img-brow {
    display: flex;
    width: 33%;
    height: auto;
  }
}
