@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald-Light.ttf");
  src: local("Oswald ExtraLight"), local("Oswald-ExtraLight"),
    url("/fonts/Oswald-ExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}

html {
  font-family: "Oswald";
  font-weight: 200;
}

.header {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  font-family: "Oswald";
  font-style: normal;
  font-weight: 200;
  font-size: 29px;
  line-height: 43px;

  color: #9541ba;
}

.header__list {
  display: flex;
  padding: 0 16px;
  justify-content: space-between;
  vertical-align: middle;
}

.header__item:not(:first-child):not(:nth-child(2)) {
  display: none;
}

.icon:nth-child(2) {
  align-content: flex-end;
}

.item__text {
  display: none;
}

.header__item {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.item__social {
  display: flex;
  height: 55px;
}

.header__img {
  display: flex;
  max-width: 100%;
}

.icon {
  width: auto;
  height: 20px;
}

.img {
  width: 100%;
  height: auto;
}

/* MAIN */
.main {
  display: flex;
  width: 100%;
  flex-direction: column;

  overflow: hidden;
  row-gap: 25px;
}

/* MAIN */
.main {
  display: flex;
  background-image: url("/img/image/Background.svg") no-repeat center;
  height: auto;
}

/* SERVICES */

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.services__title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #9541ba;
}

/* SWIPER */

.swiper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.services__slide {
  display: flex;
  width: 280px;
  height: auto;
}

.swiper-slide {
  display: flex;
  width: 100%;
  height: auto;
  background: none;
  /* Center slide text vertically */
  display: flex;
  align-self: center;
}

.swiper-pagination-bullet {
  background: none;
}
.swiper-pagination-bullet-active .path {
  display: inline-block !important;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  -webkit-animation: dash linear 120s;
  animation: dash linear 120s;
  -webkit-animation-iteration-count: unset;
  animation-iteration-count: unset;
}
.path {
  display: none;
}
@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#swiper2 {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  row-gap: 40px;
}

.swiper-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}

.swiper__img {
  display: flex;
  width: 100%;
  height: auto;
  min-width: 320px;
}

.swiper__img-sale {
  display: flex;
  min-width: 320px;
}

/* DESCRIPTION */
.description {
  display: flex;
  width: 100%;
  row-gap: 15px;
  flex-direction: column;
  align-items: center;
}

.description__title {
  display: flex;
  align-items: center;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #9541ba;
}

.description__list {
  display: flex;
  row-gap: 10px;
  flex-direction: column;
}

.description__item {
  display: flex;
  flex-direction: column;
  max-width: 90%;
}

.description__name {
  display: flex;

  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  color: #8243b4;
}

.description__img {
  display: flex;
  width: 277px;
  height: auto;
}

.link__inst {
  display: flex;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  color: #8243b4;
}

/* SALES */
.sales {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.sales__title {
  display: flex;
  align-self: center;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #9541ba;
}

.sales__swiper {
  display: flex;
  width: 100%;
}

/* CONTACTS */
.map {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}

.contacts {
  position: absolute;
  left: 200px;
  top: -20px;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  width: 120px;
  height: 150px;

  background: #9541ba;
  padding: 5px 8px;
}

.contacts__title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 8px;
  line-height: 12px;

  color: #ffffff;
}

.contact__list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.contact__name {
  display: flex;

  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 9px;
  line-height: 10px;

  color: #ffffff;
}

.contact {
  display: flex;
  width: 100px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 200;
  font-size: 9px;
  line-height: 10px;

  color: #ffffff;
}

.regime__title {
  display: flex;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 9px;
  line-height: 10px;
  /* identical to box height */

  color: #ffffff;
}

.regime__name {
  display: flex;

  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 9px;
  line-height: 10px;

  color: #ffffff;
}

.regime__time {
  display: flex;

  font-family: "Oswald";
  font-style: normal;
  font-weight: 200;
  font-size: 9px;
  line-height: 10px;

  color: #ffffff;
}
