@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald-Light.ttf");
  src: local("Oswald ExtraLight"), local("Oswald-ExtraLight"),
    url("/fonts/Oswald-ExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}

html {
  font-family: "Oswald";
  font-weight: 200;
}

.header {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  font-family: "Oswald";
  font-style: normal;
  font-weight: 200;
  font-size: 29px;
  line-height: 43px;

  color: #9541ba;
}

.header__list {
  display: flex;
  padding: 0 16px;
  justify-content: space-between;
  vertical-align: middle;
}

/* MENU */
.menu {
  position: fixed;
  top: 0;
  left: 0px;
  width: 240px;
  height: 100vh;
  background: #ffffff;
  box-shadow: 16px 0px 52px rgba(149, 65, 186, 0.2);
  transform: translateX(-320px);
  transition: transform 0.5s;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "TT Lakes";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /*identicaltoboxheight,or150%*/
  letter-spacing: -0.2px;
  color: #1b1c21;
  -webkit-transform: translateX(-320px);
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;

  z-index: 99;
}

.menu.active {
  display: flex;
  transform: translateX(0);
}

.menu__header-list {
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 16.73px;
}

.menu__header-item:nth-child(1) {
  flex-grow: 0.4;
}

.logo {
  display: flex;
}

.btn {
  display: flex;
}

.btn:hover {
  opacity: 0.7;
  transform: rotate(20deg);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
}

.btn-img {
  display: flex;
  width: 20px;
  height: 20px;
}

/* MAIN */
.menu__nav {
  padding: 32px 24px;
  flex-grow: 0.6;
}

.menu__nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.menu__nav-item {
  display: flex;
}

.menu__nav-link {
  color: #9541ba;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 15px;
}

.menu__nav-link:hover {
  color: #c197d3;
}

.menu__nav-link--active {
  color: #c197d3;
  flex-direction: row;
}

.menu__nav-link:hover::before {
  color: #c197d3;
  position: absolute;
  content: "";
  left: 0px;
  width: 4px;
  height: 40px;
  background-color: #9541ba;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.link__icon {
  display: flex;
  height: 20px;
  width: auto;
}

.link__icon:first-child {
  display: flex;
  height: 40px;
  width: auto;
}

.link__text {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #9541ba;
}

.link__text:first-child {
  display: flex;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #9541ba;
}

/* FOOTER */
.menu__footer {
  padding-left: 24px;
}

.menu__footer-list {
  display: flex;
}

.menu__footer-item {
  display: flex;
}

.menu__footer-phone {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height */

  color: #8243b4;
}

.menu__footer-phone:active {
  color: #c197d3;
}

.menu__footer-phone:hover {
  color: #c197d3;
}

/* NAV */

.link__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
}

.link__icon:hover {
  opacity: 0.7;
  transition-duration: 0.3s;
  transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -o-transform: rotate(1deg);
}

.icon:hover {
  opacity: 0.7;
  transition-duration: 0.2s;
  transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  -o-transform: rotate(7deg);
}

.header__item:not(:first-child):not(:nth-child(2)) {
  display: none;
}

.icon:nth-child(2) {
  align-content: flex-end;
}

.item__text {
  display: none;
}

.header__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 16px;
}

.item__social {
  display: flex;
  height: 55px;
}

.header__img {
  display: flex;
  max-width: 100%;
}

.icon {
  width: auto;
  height: 20px;
}

.img {
  width: 100%;
  height: auto;
}

/* MAIN */
.main {
  display: flex;
  width: 100%;
  flex-direction: column;

  overflow: hidden;
  row-gap: 25px;
}

/* MAIN */
.main {
  display: flex;
  background-image: url("/img/image/Background.svg") no-repeat center;
  height: auto;
}

/* SERVICES */

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.services__title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #9541ba;
}

/* SWIPER */

.swiper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.services__slide {
  display: flex;
  width: 280px;
  height: auto;
}

.swiper-slide {
  display: flex;
  width: 100%;
  height: auto;
  background: none;
  /* Center slide text vertically */
  display: flex;
  align-self: center;
}

.swiper-pagination-bullet {
  background: none;
}
.swiper-pagination-bullet-active .path {
  display: inline-block !important;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  -webkit-animation: dash linear 120s;
  animation: dash linear 120s;
  -webkit-animation-iteration-count: unset;
  animation-iteration-count: unset;
}
.path {
  display: none;
}
@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#swiper2 {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  row-gap: 40px;
}

.swiper-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}

.swiper__img {
  display: flex;
  width: 100%;
  height: auto;
  min-width: 320px;
}

.swiper__img-sale {
  display: flex;
  min-width: 320px;
}

/* DESCRIPTION */
.description {
  display: flex;
  width: 100%;
  row-gap: 15px;
  flex-direction: column;
  align-items: center;
}

.description__title {
  display: flex;
  align-items: center;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #9541ba;
}

.description__list {
  display: flex;
  row-gap: 10px;
  flex-direction: column;
}

.description__item {
  display: flex;
  flex-direction: column;
  max-width: 90%;
}

.description__name {
  display: flex;
  width: 150px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  color: #8243b4;
}

.description__img {
  display: flex;
  width: 277px;
  height: auto;
}

.description__img:hover {
  opacity: 0.5;
  transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  transition-duration: 0.3s;
}

.link__inst {
  display: flex;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  color: #8243b4;
}

.description__link {
  display: flex;
  width: 200px;
}

.description__link:hover {
  opacity: 0.7;
  transition-duration: 0.3s;
}

/* SALES */
.sales {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.sales__title {
  display: flex;
  align-self: center;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #9541ba;
}

.sales__swiper {
  display: flex;
  width: 100%;
}

/* CONTACTS */
.map {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}

.contacts {
  position: absolute;
  left: 70%;
  top: -20px;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  width: 120px;
  height: 150px;

  background: #9541ba;
  padding: 5px 8px;
}

.contacts__title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 8px;
  line-height: 12px;

  color: #ffffff;
}

.contact__list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.contact__name {
  display: flex;

  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 9px;
  line-height: 10px;

  color: #ffffff;
}

.contact {
  display: flex;
  width: 100px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 200;
  font-size: 9px;
  line-height: 10px;

  color: #ffffff;
}

.contact.phone {
  color: #e4d0ec;
}

.contact.phone:hover {
  opacity: 0.7;
  transition-duration: 0.3s;
}

.regime__title {
  display: flex;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 9px;
  line-height: 10px;
  /* identical to box height */

  color: #ffffff;
}

.regime__name {
  display: flex;

  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 9px;
  line-height: 10px;

  color: #ffffff;
}

.regime__time {
  display: flex;

  font-family: "Oswald";
  font-style: normal;
  font-weight: 200;
  font-size: 9px;
  line-height: 10px;

  color: #ffffff;
}
